.cart-agency {
  background-color: white;
  border-radius: $bor-rad;
  margin-bottom: $def-mar;
  &:last-child {
    margin-bottom: 0;
  }
  .row .col {
    padding: 0;
  }
  header {
    padding: 20px 100px;
    border-bottom: 1px solid #e9ebee;
    margin: 0;
    h3 {
      font-size: 1.2rem;
      color: $green;
      font-weight: bold;
      margin: 0;
    }
    span {
      color: #556b7f;
      text-align: center;
      &:last-child {
        text-align: right;
      }
    }
  }
  .cart-item {
    display: flex;
    align-items: center;
    margin: 0 100px;
    padding: 20px 0;
    border-bottom: 1px solid #e9ebee;
    .cart-item-tour {
      position: relative;
      display: flex;
      padding-left: 50px;
      align-items: center;
      .remove {
        position: absolute;
        left: 0;
        color: #e9ebee;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 3rem;
        transition: 0.3s;
        cursor: pointer;
        top: 5px;
        &:hover {
          color: #cb3e33;
        }
      }
      .preview {
        height: 70px;
        width: 70px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $bor-rad;
        margin-right: 30px;
        img {
          height: 70px;
        }
      }
      p {
        a {
          color: $main-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .price {
      text-align: right;
      line-height: 70px;
    }
    .number {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input {
        margin: 10px 0;
        text-align: center;
        box-shadow: none;
        height: 30px;
        width: 40px;
        border: 1px solid #e9ebee;
        border-radius: $bor-rad;
        &:focus {
          border: 1px solid #e9ebee;
          box-shadow: none;
        }
      }
      button {
        height: 15px;
        width: 15px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;
        border-radius: 50%;
        background-color: #e9ebee;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        span {
          position: relative;
          top: -1px;
        }
        &:hover {
          background-color: $green;
        }
      }
    }
  }
  footer {
    padding: 20px 100px;

    h4 {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    .remove-all, .order {
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .remove-all {
      color: #cb3e33;
      
    }
    .actions {
      text-align: right;
      padding: 0;
    }
    .order {
      height: 40px;
      width: 170px;
      border: 1px solid $green;
      color: $green;
      border-radius: 20px;
      margin-left: 20px;
    }
  }
  
}