$max-width: 1170px;
.cards-with-aside {
    display: flex;
    .cards {
        width: $max-width - 270px - $default-margin;
    }
    aside {
        width: 270px;
        margin-left: $default-margin;
        padding: 20px;
        background-color: white;
        border-radius: $border-radius;
        h3 {
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0;
        }
        height: max-content;
        ul {
            li {
                a {
                    color: $secondary-color;
                    &:hover {
                        color: $light-green;
                    }
                }
                &.active {
                    a {
                        color: $light-green;
                    }
                    &:before {
                        content: '';
                        background-image: url('./../styles/cards-with-aside/baseline-arrow_forward-24px.svg');
                        width: 20px;
                        height: 20px;
                        position: relative;
                        display: inline-block;
                        top: 3px;
                        left: -3px;
                    }
                }
            }
        }
    }
}