

.news-item {
    a {
        display: flex;
        position: relative;
        overflow: hidden;
        justify-content: center;
        flex-direction: row;
        border-radius: $border-radius;
        margin-bottom: $default-margin;
    }
    
    img {
        max-width: 270px;
        width: 100%;
        max-height: 180px;
        height: auto;
    }
    .text {
        background-color: white;
        padding: 30px;
        .rubric {
            display: block;
            color: $light-green;
            margin: 0;
            margin-bottom: $default-margin / 2;
            font-weight: 500;
        }
        h3 {
            font-size: 1.5rem;
            color: $main-color;
            margin: 0;
            margin-bottom: $default-margin / 2;
            font-weight: bold;
        }
        p {
            color: $secondary-color;
            margin: 0;
            position: relative;
            font-weight: 400;
            overflow: hidden;
            height: 3rem;
            &:after {
                content: '...';
                background: white;
                color: $secondary-color; // position: absolute;
                bottom: 0;
                line-height: 1;
                right: 0;
                box-shadow: -5px 0 15px 5px white;
            }
        }
    }
}

section.wrapper {
    .pagination {
        display: flex;
        justify-content: center;
        padding-bottom: 3 * $default-margin;
        li {
            box-sizing: border-box;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            border: 2px solid transparent;
            &.active {
                a {
                    color: $light-green;
                }
                border-color: $light-green;
            }
            &:first-child,
            &:last-child {
                border-color: $gray2-color;
                a {
                    color: $gray2-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}